
    <div class="c-bottom">
        <div class="o-wrap">
            <div class="o-cols o-cols--3">
                <div class="o-cols__item">
                    <p>Wszystkie prawa zastrzeżone</p>
                </div>
                
                <div class="o-cols__item">
                    &nbsp;
                </div>
                
                <div class="o-cols__item">
                   <p>Projektowanie stron www.hauerpower.pl</p>
                </div>
            </div>
        </div>
    </div>

