
                <div class="c-contactform anim anim--up"  style="opacity: 0">
                    <h2 class="o-lead o-lead--1 aligncenter">Formularz zgłoszeniowy</h2>
                    
                    <form action="#">
                        <div class="form-row">
                            <div class="form-col">
                                <div class="form-group">
                                    <input type="text" placeholder="Imię i nazwisko">
                                </div> 
                                
                                <div class="form-group">
                                    <input type="email" placeholder="Adres e-mail">
                                </div> 
                                
                                <div class="form-group">
                                    <input type="tel" placeholder="Telefon">
                                </div>                             
                            </div>
                            
                            <div class="form-col">
                                <div class="form-group">
                                    <textarea placeholder="Treść wiadomości"></textarea>
                                </div>
                            </div>                        
                        </div>
                        
                        <div class="form-row">
                        	<input type="checkbox" checked id="agree-1">
                            <label for="agree-1">
                            	<i></i>
                            	<span>Zapoznałam/em się z klauzulą informacyjną dotyczącą przetwarzania danych osobowych</span>
                            </label>
                        </div>
                        
                        <div class="form-row form-row--submit">
                            <button type="submit">Wyślij</button>
                        </div>
                    </form>
                </div>
