
    <footer class="c-footer">
        <div class="o-wrap">
            
            <div class="o-cols o-cols--3">
                <div class="o-cols__item">
                    <address>
                        <p><strong>Jan Kowalski</strong></p>
                        <p>Adres: 30-492 Tarnów, ul.&nbsp;Kwiatowa&nbsp;25/20</p>
                    </address>
                </div>
                
                <div class="o-cols__item">
                    <a href="index.html" class="o-logo">
                        <img src=<%= require("./img/assets/logo.png") %> alt="konstruktywnie" width="220">
                    </a>

                    <ul class="o-social">
                        <li>
                            <a href="#" class="icon-linkedin"></a>
                        </li>
                    </ul>
                </div>
                
                <div class="o-cols__item">
                    <address>
                        <p>tel: +48 509 687 588</p>
                        <p><a href="mailto:konstruktywnie@gmail.pl">konstruktywnie@gmail.pl</a>
                    </address>
                </div>
            </div>
            
        </div>
    </footer>

    <% include bottom %>
