
    <div class="c-homeslider">
        <div class="o-wrap">
            
            <div class="c-homeslider__article">
                <h1 class="title">
                    <span>Konstruktywnie</span>
                    <span>o prawie</span>
                </h1>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices lobortis ex, et hendrerit ligula sagittis non. Donec </p>
            </div>
            
        </div>
    </div>
