
            <nav class="c-nav js-nav">
                <ul class="c-nav__menu js-menu">
                    <li>
                        <a href="index.html">Strona główna</a>
                    </li>
                    
                    <li>
                        <a href="baza-wiedzy.html">Baza wiedzy</a>
                    </li>
                    
                    <li>
                        <a href="pomoc-prawna.html">Pomoc prawna</a>
                    </li>
                    
                    <li>
                        <a href="autor.html">Autor</a>
                    </li>
                    
                    <li class="current-menu-item">
                        <a href="kontakt.html">Kontakt</a>
                    </li>
                </ul>
                
                <% include social %>

            </nav>
