
    <div class="o-overlay" id="search">
        <div class="o-overlay__inside">
            <div class="o-wrap">
                <form action="#" class="c-searchform">
                    <input type="text" class="form-field" placeholder="Jakiego produktu szukasz?"> 

                    <button type="submit" class="o-btn o-btn--minor">
                        <i class="icon-search"></i>
                    </button>
                </form>
            </div>
            
            <div class="o-overlay__close js-close"></div>
        </div>
    </div>
