
                <ul class="c-nav__social">
                    <li>
                        <a href="#" class="icon-linkedin"></a>
                    </li>
                    <li class="js-search">
                        <a href="#" class="icon-search"></a>
                    </li>
                </ul>
