
    <div class="c-top js-top">
        <div class="o-wrap">
            <a href="index.html" class="o-logo">
                <img src=<%= require("./img/assets/logo.svg") %> alt="Konstruktywnie" width="276" height="74">
            </a>
            
            <% include nav-baza %>

            <div class="o-hamburger js-hamburger"></div>
        </div>
        
        <div class="o-scrollbar" id="scrollbar"></div> 
    </div>
