.o-cols {
	width: 100%;
    
    //@media ( min-width: $tablet + 1px ) {
    	display: flex;
    //}

    &__item {
        @extend %rel;
    }
    
    &--3 {
        .o-cols {
            &__item {
                width: 33%;
            }
        }
    }
}
