.c-grid {
    @extend %rel;
    min-height: 100vh;
    //overflow: hidden;

    &__content {
        @extend %flex;
        @extend %flex-wrap;
        margin: 0 grid(-20);
    }
    
    &__item {
        width: grid(350);
        margin-bottom: 50px;
        padding: 0 grid(20);
        overflow: hidden;
        height: 0;
        &.is-visible {
            height: auto;
            overflow: auto;
        }
        
        @media ( max-width: $tablet_portrait + px ) {
            width: calc(100% / 3);
        }

        @media ( max-width: $smartphone + px ) {
            width: calc(100% / 2);
        }
    }
    
    &.filters-on {
        @media ( min-width: $tablet_portrait + 1px ) {
            .c-grid {
                &__content {
                    width: calc(100% - 25%);
                }
        
                &__item {
                        width: grid(350, 1050);
                }
            }
        }
    }
}
