.c-homeslider {
    height: calc(100vh + 150px);
    max-height: 900px;
    background: {
        image: url($path_img + '/assets/top.jpg');
        repeat: no-repeat;
        position: right center;
        //size: cover;
    }
    
    @media ( max-width: $smartphone + px ) {
        //background-position: 80% center;
    }
    
/*
    @media ( max-width: $tablet + px ) {
    	height: 600px;
    }
    
    @media ( max-width: $smartphone + px ) {
        height: 400px;
    }
*/
    
    &__article {

        .title {
            line-height: 1.1em;
            font-size: rem(74);
            
            @media ( max-width: $base + 80px ) {
            	font-size: base(74);
            }
            
            @media ( max-width: $tablet + px ) {
            	font-size: rem(40);
            }
            
            @media ( max-width: $smartphone + px ) {
            	font-size: rem(30);
            }            
        }
        
        p {
            @extend %lead--4;
            max-width: 420px;
            opacity: .98;            
        }

        span {
        
            &:first-of-type {
                display: block;
                color: $c-primary;        
            }
            
            &:last-of-type {
                @extend %underline;
            }
        }
    }
    
    .o-wrap {
        @extend %flex;
        @extend %flex-y;
        @extend %rel;
        z-index: 10;
        justify-content: flex-end;
        height: 100%;
    }
    
    &__secondary {
        @extend %abs;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 0;
        background: {
            image: url($path_img + '/assets/top2.jpg');
            repeat: no-repeat;
            position: right center;
            //size: cover;
        }
        overflow: hidden;
        
/*
        @media ( max-width: $smartphone + px ) {
            background-position: 80% center;
        }
*/
    }
}