.c-single {
    overflow: hidden;
    
    .error404 & {
        min-height: 64vh;
    }
     
    .o-lead {
        &--5 {
            text-transform: uppercase;
            opacity: .5;
        }
    }
}