<% include ./src/includes/head %>
<body>

    <% include ./src/includes/top-autor %>

    <div class="c-single">
        <div class="o-section o-section--bigTopPadding">
            <div class="o-wrap o-wrap--narrow">
                
                <header class="o-header">
                    <h1 class="o-lead o-lead--1 u-underline">Autor</h1>
                </header>
                
                <article class="o-article">
                    
                    <img src=<%= require("./img/photos/portrait.jpg") %> alt="" width="472" height="402" class="alignright" >
                    
                    <h3>Lorem ipsum laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</h3>
                    
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut o</p>
    
                    <p>ae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut o</p>
                    
                    <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
    architecto beatae vitae dicta sunt.</p>
                    </blockquote>
                </article>
                
                <article class="o-article o-article--columns">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut o.</p>
    
                    <p>ae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut o.</p>
                    
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut o.</p>
    
                    <p>ae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut o.</p>
    
                </article>
            </div>
        </div>
    </div>
    

    <% include ./src/includes/footer %>
    
    
</body>
</html>


