<% include ./src/includes/head %>
<body>

    <% include ./src/includes/top %>

<div class="o-container">
    <% include ./src/includes/homeslider %>
    <% include ./src/includes/specbox %>
    <% include ./src/includes/latest %>
    <% include ./src/includes/more %>
    <% include ./src/includes/footer %>
</div>

</body>
</html>


