<% include ./src/includes/head %>
<body>

    <% include ./src/includes/top %>
    <% include ./src/includes/homeslider %>
    <% include ./src/includes/specbox %>
    <% include ./src/includes/latest %>
    <% include ./src/includes/more %>
    <% include ./src/includes/footer %>
    
    
</body>
</html>


