<% include ./src/includes/head %>
<body>

    <% include ./src/includes/top-kontakt %>

    <div class="c-contact">
        <div class="o-section o-section--bigTopPadding">
            <div class="o-wrap o-wrap--narrow">
                
                <header class="o-header">
                    <h1 class="o-lead o-lead--1">
                        <em>Aleksandra Kossowska</em>
                    </h1>
                </header>
                
                <article class="o-article aligncenter">
                    
                    <section class="c-contact__telmail">
                        <p><a href="mailto:konstruktywnie@gmail.pl">konstruktywnie@gmail.pl</a></p>
                        <p>tel: <a href="tel:0048509687588">+48 509 687 588</a></p>
                    </section>
                    
                    <ul class="o-social">
                        <li>
                            <a href="#" class="icon-linkedin"></a>
                        </li>
                    </ul>
    
                    <hr>
                    
                    <address>
                        <h5>Kancelaria konstruktywnie</h5>
                        
                        <p>
                            30-492 Tarnów<br>
                            ul. Kwiatowa 25/20
                        </p>
                        
                        <p>
                            tel.: <a href="tel:0048509687588">+48 509 687 588</a><br>
                            <a href="mailto:konstruktywnie@gmail.pl">konstruktywnie@gmail.pl</a>
                        </p>
                    </address>
                </article>
            </div>
        </section>
    </div>

     <% include ./src/includes/bottom %>
</body>
</html>


