<% include ./src/includes/head %>
<body class="single-page">

    <% include ./src/includes/top %>


    <div class="c-single">
        <div class="o-section o-section--topPadding">

            <div class="o-wrap o-wrap--narrow">
                <header class="o-header">
                    <h5 class="o-lead o-lead--5 u-underline"><span>Prawo budowlane</span> <span>Studia przypadków</span></h5>
                    <h1 class="o-lead o-lead--1">Lorem ipsum dolor sit amet, 
consectetur adipiscing elit ex ea commodo </h1>
                </header>
            </div>
            
            <div class="o-wrap o-wrap--narrow">
                <article class="o-article">
                    
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa qui officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur</h3>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa qui officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur 
adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa im 
ad minim veniam, quis nostrud culpa qui officia deserunt mollit anim id est laborum." id est laborum.""Lorem ipsum dolor sit amet, consectetur.</p>

                    <div class="aligncenter">
                        <img src=<%= require("./img/photos/single-1.jpg") %> alt="" width="776" height="571">
                    </div>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa qui officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur 
adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa qui officia deserunt mollit anim id est laborum. officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa qui officia deserunt mollit anim id est laborum.</p>

                    <div class="aligncenter">
                        <img src=<%= require("./img/photos/single-2.jpg") %> alt="" width="776" height="273">
                    </div>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa qui officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur 
adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa qui officia deserunt mollit anim id est laborum. officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa qui officia deserunt mollit anim id est laborum.</p>

                </article>
            </div>
            
            
            <article class="o-article">
                <div class="fullwidth">
                    <img src=<%= require("./img/photos/single-3.jpg") %> alt="" width="1680" height="592">
                </div>
            </article>
            
            
            <div class="o-wrap o-wrap--narrow">
                <article class="o-article">
                    
<!--
                    <div class="fullwidth">
                        <img src=<%= require("./img/photos/single-3.jpg") %> alt="" width="1680" height="592">
                    </div>
-->
                    
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud culpa qui officia 
deserunt mollit anim id est laborum.</p>
                    </blockquote>
                    
                    <ul>
                        <li>Lorem ipsum dolor sit amet, voluptatem error sit mollit anim id est laboru</li>
                        <li>Ut enim ad minim veniam, quis nostrud mollit anim id est laborum. officia deserunt mollit anim idest laborum.""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</li>
                        <li>Sed ut perspiciatis unde omnis iste natus accusantium doloremquemollit anim id est laborum. officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem</li>
                    </ul>
    
                </article>
            </div>
        </div>
    </div>
    

    <% include ./src/includes/latest %>
    <% include ./src/includes/footer %>
    
    
</body>
</html>


